<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/adce21ea-8582-4f28-b887-6e8934c2bc9b/resourceGroups/ecommerce-dev-rg/providers/Microsoft.ApiManagement/service/AzureStudyApiapi/apis/AzureStudyApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/adce21ea-8582-4f28-b887-6e8934c2bc9b/resourceGroups/ecommerce-dev-rg/providers/Microsoft.Web/sites/ecommerce-api-dev</ResourceId>
    <ResourceGroup>ecommerce-dev-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ecommerce-api-dev-fvfyf0h6eaeud0ae.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4cfbd1d7-9d3f-bf34-f771-fb6fbb4da866</ProjectGuid>
    <PublishUrl>https://ecommerce-api-dev-fvfyf0h6eaeud0ae.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$ecommerce-api-dev</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>